@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    background-color: #78e08f;
}

.heading{
    font-size: 4rem;
    text-transform: uppercase;
    margin: 1rem 0;
    color: #fff;
    z-index: 1;
    text-align: center;
}

@media (max-width: 800px) {
    .heading{
        font-size: 2rem;
        margin: .5rem 0;
    }
}